* {
    margin: 0px;
    padding: 0px;
}
html {
    font-family: 'Minecraft', sans-serif;
}

body {
    margin: 0;
    color: white;
    background-color: black;
}

::-webkit-input-placeholder {
    text-align: center;
 }

/*##############*/
/*#            #*/
/*#    HOME    #*/
/*#            #*/
/*##############*/

.fuckTheDealerButton,
.bussturenButton {
    padding: 3vmin;
    font-size: 5vmin;
}

.userNameInputContainer {
    width: 70vw;
    left: 15vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vmin;
    gap: 5vmin;
}

.userNameText {
    text-align: center;
}

.userNameInput {
    margin: 0;
    width: 20rem;
    height: 5rem;
    font-size: 3rem;
    text-align: center;
}

.home.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*##############*/
/*#            #*/
/*#    CARD    #*/
/*#            #*/
/*##############*/

.redCard {
    color: rgb(255, 55, 55);
}

.cardDeck {
    top: 0px;
    display: grid;
    grid-template-columns: repeat(15,1fr);
    gap: 2vmin;
}
  
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-end: span 2;
    width: 10vmin;
    height: 10vmin;
    font-size: 5vmin;
}

.card:nth-child(1) {
    grid-column-start: 7;
}

.card:nth-child(2) {
    grid-column-start: 6;
}

.card:nth-child(4) {
    grid-column-start: 5;
}

.card:nth-child(7) {
    grid-column-start: 4;
}

.card:nth-child(11) {
    grid-column-start: 3;
}

.card:nth-child(16) {
    grid-column-start: 2;
}

.card:nth-child(22) {
    grid-column-start: 1;
}


.cardCovered,
.cardUncovered {
    color: white;
    background-color: black;
    border: 1vmin solid white;
    user-select: none;
    cursor: pointer;
}

.cardCovered div {
    visibility: hidden;
}

.cardUncovered div {
    visibility: visible;
}

/*##############*/
/*#            #*/
/*#    BUSS    #*/
/*#            #*/
/*##############*/

.bussCardContainerWrapper {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.bussCardContainer {
    display: flex;
    position: fixed;
}

.bussCardSettings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 3vmin;
    border-style: none;
    align-items: center;
}

.bussMode {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bussModeText {
    font-size: 5vmin;

}

.bussBoardAmount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vmin;
    font-size: 5vmin;
    appearance: none;
    text-align: center;
}

.bussCardSettings > button {
    height: 17.2vmin;
    border-style: none;
}

.bussUser {
    display: flex;
    align-items: center;
    gap: 1vmin;
    flex-direction: column;
}

.bussUserNames {
    display: flex;
    font-size: 4vmin;
    gap: 5vmin;
    padding: 10px;
    position: fixed;
    top: 0;
    text-align: center;
    width: 40vw;
}

.bussPlayerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vmin;
    height: 6vmin;
    font-size: 3vmin;
    border: 0.5vmin solid white;
    cursor: pointer;
}

.bussUserCard {
    display: flex;
    gap: 1vmin;
    flex-direction: column;
}

/*##############*/
/*#            #*/
/*#    FUCK    #*/
/*#            #*/
/*##############*/

